# build files
build/
dist/
*.egg-info
*.pyc

# documentation files
docs/_build/
docs/spotlight*.rst
tmp*

# notebook files
.ipynb_checkpoints/
docs/notebooks/template.par

# examples files
examples/*/slurm*
examples/*/tmp*
*.pkl

# version files
spotlight/version.py

# filesystem files
.nfs*
*.DS_Store

